name: cicd pileline

no:
    push:
      branches:
        - main  
    pull_request:
      branches:
        - main
        - dev

        jobs:
            build:
              runs-on: ubuntu-latest
              steps:
                run: uptime
                run: whoami
                
